.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightgray;
  padding: 1rem 2rem;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-brand {
  display: flex;
  align-items: center;
  padding-left: 1rem;
}

.navbar-brand img {
  margin-right: 10px;
}

.navbar-brand-text {
  font-size: 20px;
  font-weight: bold;
}

.navbar-links {
  display: flex;
  align-items: center;
}

.profile-avatar {
  margin-right: 1rem;
}

.avatar-navbar {
  width: vh;
  height: 4vh;
  border-radius: 50%;
  margin: 0;
  padding: 0;
  border: solid 1px black;
}

.avatar-profile {
  width: 10vh;
  height: 10vh;
  border-radius: 50%;
  margin-top: 3vh;
  margin-bottom: 1vh;
  border: solid 1px black;
}

.avatar-normal {
      width: 10vh;
      height: 10vh;
      border-radius: 5px;
      margin-top: 3vh
}