
.App {
  text-align: center;
}

.auth-container {
  margin-top: 10vh;
  max-width: 1000px;
  margin: 0;
  display: inline-block;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 16px;
}

.animal-card {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 16px;
}